<!-- form.detail-res-citizens.html -->
<div>
    <p>Are you and is everyone living with you a US citizen?</p>
</div>

<div class="form-group" ng-show="resident_non_citizen">
    <label for="res-non-citizens">Who?</label>
    <input type="text" name="res-non-citizens" ng-model="formData.res_non_citizens" class="form-control"/>
</div>
<br/>
<div class="form-group row">
    <div class="col-xs-6" ng-hide="resident_non_citizen">
        <a class="btn btn-block btn-success">
            YES
        </a>
    </div>
    <div class="col-xs-6" ng-hide="resident_non_citizen">
        <a  data-ng-click="nonCitizens()" class="btn btn-block btn-danger">
            NO
        </a>
    </div>
    <div class="col-xs-6 col-xs-offset-3" ng-show="resident_non_citizen">
        <a  us-sref="form.basic-info" class="btn btn-block btn-info">
            Continue
        </a>
    </div>
</div>