<!-- form-address.html -->
<div class="row col-xs-10">
    <span class="text-left" style="font-size: 30px"><strong> What's your address?</strong></span>
</div>

<div class="form-group">
    <label for="address">STREET ADDRESS</label>
    <input type="text" class="form-control" id="address" ng-model="formData.address.street_address" ng-disabled="has_address">
</div>

<div class="form-group">
    <label for="apt_number">APT. #</label>
    <input type="text" class="form-control" id="apt_number" ng-model="formData.address.apt_number" ng-disabled="has_address">
</div>

<div class="form-group">
    <label for="zip">ZIP CODE</label>
    <input type="number" class="form-control" id="zip" ng-model="formData.address.zip" ng-disabled="has_address" >
</div>

<div class="form-group row col-xs-offset-1">
    <input type="checkbox" ng-model="has_address"/> Check if you do not have one
</div>

<div class="row">
    <a ui-sref="form.telephone" class="btn btn-block btn-remove-ws" style="background-color:yellow;color:black">
        Continue
    </a>
</div>