<div class="row col-xs-10">
    <span class="text-left" style="font-size: 30px"><strong>What's your phone number?</strong></span>
</div>

<div class="form-group">

    <label for="phone">PHONE NUMBER</label>
    <input class="form-control" type="number" id="phone" ng-model="formData.phone_main" ng-disabled="has_phone"/>

</div>

<div class="form-group row col-xs-offset-1">
    <input type="checkbox" ng-model="has_address"/> Check if you don't have one
</div>

<div class="row">
    <a ng-click="completedTelephone()" class="btn btn-block" style="background-color:yellow;color:black">
        Continue
    </a>
</div>